.hero-header {
    background-image: url('../../../../public/images/stayconnected.webp'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    color: white;
  }
.hero {
  background-image: url('../../../../public/images/stayconnected.webp'); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  color: white;

}
a {
  text-decoration: none !important;
  color: inherit;
  color: #1d2124 !important;
}
.hero .header-content{

    height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
}
.hero .header-content h1 {
  font-size: 3rem;
  font-weight: bold;

}

.hero  .header-content p {
  font-size: 1.25rem;
  margin-bottom: 1rem;

}

.navbar-brand {
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar-nav .nav-link {
  margin-left: 15px;
}

.hero  .header-content .btn {
  background-color: white;
  color: black;
  border: none;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
